<div class="container-fluid">
    <h4 class="card-header">Local Food Service - Admin Panel</h4>
    <div class="list-group">
        <a routerLink="/items" routerLinkActive="active" class="list-group-item list-group-item-action">
            Items
        </a>
        <a routerLink="/orders" routerLinkActive="active" class="list-group-item list-group-item-action">Orders</a>
        <a routerLink="/users" routerLinkActive="active" class="list-group-item list-group-item-action">Users</a>
    </div>
</div>