<div style="background : url('assets/image1.jpeg'); height: 100vh;">
    <div *ngIf="authService.isAuthenticated()[0] == 'true'">
        <div class="row">
            <div class="col d-flex justify-content-center" style="margin-top: 5%;">
                <div class="card" style="width: 50rem;">
                    <h4 class="card-header" style="font-style: italic;">Your Profile</h4>
                    <div class="card-body">
                        <form (ngSubmit)="onUpdate(profile)" #profile="ngForm">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label"><b>Username</b></label>
                                    <input type="text" class="form-control" placeholder="name@example.com"
                                        [ngModel]="profileBody['Email']" name="username" #email="ngModel"><br>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label"><b>Mobile Number</b>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter mobile number"
                                        [ngModel]="profileBody['Mobile']" name="mobile" [maxLength]="10"
                                        #email="ngModel"><br>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label"><b>Gender</b></label>
                                    <input type="text" class="form-control" placeholder="Enter gender"
                                        [ngModel]="profileBody['Gender']" name="gender" #email="ngModel"><br>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label"><b>Address</b></label>
                                    <input type="text" class="form-control" placeholder="Enter address"
                                        [ngModel]="profileBody['Address']" name="address" #email="ngModel"><br>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label"><b>City</b></label>
                                    <input type="text" class="form-control" placeholder="Enter city"
                                        [ngModel]="profileBody['City']" name="city" #email="ngModel"><br>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label"><b>Pincode</b></label>
                                    <input type="text" class="form-control" placeholder="Enter pincode"
                                        [ngModel]="profileBody['Pincode']" name="pincode" #email="ngModel"><br>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label"><b>Email</b>
                                    </label>
                                    <input type="email" class="form-control" placeholder="name@example.com"
                                        [ngModel]="profileBody['Email']" name="email" email #email="ngModel"><br>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleFormControlTextarea1" class="form-label"><b>Password</b></label>
                                    <input type="password" class="form-control" placeholder="password" name="password"
                                        [ngModel]="profileBody['Password']" #pswd="ngModel"><br>
                                </div>
                            </div>
                            <br>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-1">
                                    <input type="submit" value="Update" class="btn btn-block btn-primary"
                                        [disabled]="!profile.dirty || !profile.valid">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-denyaccess *ngIf="authService.isAuthenticated()[0] == 'false'"></app-denyaccess>