<div style="background: url('assets/chatbg.jpg'); height: 100vh; padding: 10px 10px 10px 0px;">
    <ul>
        <div *ngFor="let message of messages">
            <div *ngIf="message.sentByBot">
                <li class="him">{{message.text}}</li>
            </div>
            <div *ngIf="!message.sentByBot">
                <li class="me">{{message.text}}</li>
            </div>
        </div>
    </ul>
    <div class="row">
        <div class="col-lg-9">
            <form style="position:fixed; bottom: 10px;" #chatform="ngForm"
                (ngSubmit)="message.value!='' ? sendMessage(chatform.value) : null" autocomplete="off">
                <input type="email" class="form-control" placeholder="Enter message" ngModel name="message" required
                    #message="ngModel">
                <div class="col-lg-3" style="position:fixed; bottom: 10px; left: 38%;">
                    <input type="submit" class="btn btn-primary" value="Send">
                </div>
            </form>
        </div>
    </div>