<div *ngIf="error!=''" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div *ngIf="message!=''" class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div *ngIf="auth.isAuthenticated()[0] == 'true' && auth.isAuthenticated()[1] == 'true'"
    style="background: url('assets/adminbg2.png'); height: 100vh;">
    <div class="row">
        <div class="col-md-3">
            <app-sidenavadmin></app-sidenavadmin>
        </div>
        <div class="col-md-9">
            <h1>All Products</h1>
            <div class="d-flex justify-content-center" *ngIf="isLoading == true">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <app-spinner *ngIf="isLoading"></app-spinner>
            <table *ngIf="isLoading == false" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.id}}</td>
                        <td><b>{{product.name}}</b></td>
                        <td><button class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">Update</button>
                        </td>
                        <td><button class="btn btn-danger" (click)="onDelete(product.id)">Delete</button>
                        </td>
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Update Product</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form #userForm="ngForm" (ngSubmit)="onUpdate(userForm.value,product.id)">
                                            <div class="mb-3">
                                                <label class="form-label">Product ID</label>
                                                <input type="Text" class="form-control" name="id"
                                                    [ngModel]="getForm(product.id).id" disabled readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Product Name</label>
                                                <input type="Text" class="form-control" name="name"
                                                    [ngModel]="getForm(product.id).name">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Price</label>
                                                <input type="Text" class="form-control" name="price"
                                                    [ngModel]="getForm(product.id).price">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Discount</label>
                                                <input type="Text" class="form-control" name="discount"
                                                    [ngModel]="getForm(product.id).discount">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Image URL</label>
                                                <input type="Text" class="form-control" name="image"
                                                    [ngModel]="getForm(product.id).image">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Details</label>
                                                <input type="Text" class="form-control" name="details"
                                                    [ngModel]="getForm(product.id).details">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Category</label>
                                                <input type="Text" class="form-control" name="category"
                                                    [ngModel]="getForm(product.id).category">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Update"
                                                    data-bs-dismiss="modal">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Add
                Product</button>
        </div>
    </div>
</div>
<app-denyaccess *ngIf="auth.isAuthenticated()[0] == 'false' && auth.isAuthenticated()[1] == 'false'"></app-denyaccess>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value)">
                    <div class="mb-3">
                        <label class="form-label">Product Name</label>
                        <input type="Text" class="form-control" name="name" ngModel>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="Text" class="form-control" name="price" ngModel>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Discount</label>
                        <input type="Text" class="form-control" name="discount" ngModel>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Image URL</label>
                        <input type="Text" class="form-control" name="image" ngModel>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Details</label>
                        <input type="Text" class="form-control" name="details" ngModel>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <input type="Text" class="form-control" name="category" ngModel>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-success" value="Add" data-bs-dismiss="modal">
                    </div>
                </form>
            </div>
        </div>
    </div>