<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4">Welcome to Local Food Service</h1>
        <hr>
        <p>A variety of dishes to choose from at reasonable prices!</p>
    </div>
</div>
<div style="text-align: center">
    <h2>Our Menu</h2>
</div>
<!-- <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td><button class="btn btn-primary">Add to Cart</button>
            </td>
        </tr>
    </tbody>
</table> -->

<div class="row">
    <div *ngFor="let product of products" class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="{{product.image}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.desc}}</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
</div>