<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="home"><img src="assets/logo.jpg" class="img-fluid" width="50"
                height="40"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" id="collapsibleNavId">
            <ul *ngIf="auth.isAuthenticated()[0] =='false' " class="nav-pills navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact : true}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"
                        routerLink="signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"
                        routerLink="AdminLogin">Admin Login</a>
                </li>
            </ul>
            <ul *ngIf="auth.isAuthenticated()[0] =='true' && auth.isAuthenticated()[1] == 'false' "
                class="navbar-nav me-auto mt-2 mt-lg-0">
                <li *ngIf="auth.isAuthenticated()[1] == 'false'" class="nav-item">
                    <a class="nav-link" routerLink="profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="cart">Cart</a>
                </li>
            </ul>
            <ul *ngIf="auth.isAuthenticated()[0] =='true' " class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" (click)="auth.setLogout()">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="chat">Get help with ChatBot</a>
                </li>
            </ul>
        </div>
    </div>
</nav>